:root {
  --color-270:7766: Primary / On Primary

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7767: 270:7767;
  --color-270:7768: 270:7768;
  --color-270:7769: Primary Container / On Primary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7770: 270:7770;
  --color-270:7771: Secondary / On Secondary

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7772: 270:7772;
  --color-270:7773: Secondary Container / On Secondary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7774: 270:7774;
  --color-270:7775: Tertiary / On Tertiary

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7776: 270:7776;
  --color-270:7777: Tertiary Container / On Tertiary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7778: 270:7778;
  --color-270:7779: Error / On Error

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7780: 270:7780;
  --color-270:7781: Error Container / On Error Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7782: 270:7782;
  --color-270:7783: Background / On Background

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7784: 270:7784;
  --color-270:7785: Surface / On Surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7786: 270:7786;
  --color-270:7787: Surface Variant / On Surface Variant

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7788: 270:7788;
  --color-270:7789: 270:7789;
  --color-270:7790: 270:7790;
  --color-270:7791: 270:7791;
  --color-270:7792: 270:7792;
  --color-270:7793: 270:7793;
  --color-270:7794: 270:7794;
  --color-270:7795: 270:7795;
  --color-270:7796: 270:7796;
  --color-270:7797: 270:7797;
  --color-270:7798: 270:7798;
  --color-270:7799: 270:7799;
  --color-270:7800: 270:7800;
  --color-270:7801: 270:7801;
  --color-270:7802: 270:7802;
  --color-270:7803: 270:7803;
  --color-270:7804: 270:7804;
  --color-270:7805: 270:7805;
  --color-270:7806: 270:7806;
  --color-270:7807: 270:7807;
  --color-270:7808: 270:7808;
  --color-270:7809: 270:7809;
  --color-270:7810: 270:7810;
  --color-270:7811: 270:7811;
  --color-270:7812: 270:7812;
  --color-270:7813: 270:7813;
  --color-270:7814: 270:7814;
  --color-270:7815: 270:7815;
  --color-270:7816: 270:7816;
  --color-270:7817: 270:7817;
  --color-270:7818: 270:7818;
  --color-270:7819: 270:7819;
  --color-270:7820: 270:7820;
  --color-270:7821: 270:7821;
  --color-270:7822: 270:7822;
  --color-270:7823: 270:7823;
  --color-270:7824: 270:7824;
  --color-270:7825: 270:7825;
  --color-270:7826: 270:7826;
  --color-270:7827: 270:7827;
  --color-270:7828: 270:7828;
  --color-270:7829: 270:7829;
  --color-270:7830: 270:7830;
  --color-270:7831: 270:7831;
  --color-270:7832: 270:7832;
  --color-270:7833: 270:7833;
  --color-270:7834: 270:7834;
  --color-270:7835: 270:7835;
  --color-270:7836: 270:7836;
  --color-270:7837: 270:7837;
  --color-270:7838: 270:7838;
  --color-270:7839: 270:7839;
  --color-270:7840: 270:7840;
  --color-270:7841: 270:7841;
  --color-270:7842: 270:7842;
  --color-270:7843: 270:7843;
  --color-270:7844: 270:7844;
  --color-270:7845: 270:7845;
  --color-270:7846: 270:7846;
  --color-270:7847: 270:7847;
  --color-270:7848: 270:7848;
  --color-270:7849: 270:7849;
  --color-270:7850: 270:7850;
  --color-270:7851: 270:7851;
  --color-270:7852: 270:7852;
  --color-270:7853: 270:7853;
  --color-270:7854: 270:7854;
  --color-270:7855: 270:7855;
  --color-270:7856: 270:7856;
  --color-270:7857: 270:7857;
  --color-270:7858: 270:7858;
  --color-270:7859: 270:7859;
  --color-270:7860: 270:7860;
  --color-270:7861: 270:7861;
  --color-270:7862: 270:7862;
  --color-270:7863: 270:7863;
  --color-270:7864: 270:7864;
  --color-270:7865: 270:7865;
  --color-270:7866: 270:7866;
  --color-270:7867: 270:7867;
  --color-270:7868: 270:7868;
  --color-270:7869: 270:7869;
  --color-270:7870: 270:7870;
  --color-270:7871: 270:7871;
  --color-270:7872: 270:7872;
  --color-270:7873: 270:7873;
  --color-270:7874: 270:7874;
  --color-270:7875: 270:7875;
  --color-270:7876: 270:7876;
  --color-270:7877: 270:7877;
  --color-270:7878: 270:7878;
  --color-270:7879: 270:7879;
  --color-270:7880: 270:7880;
  --color-270:7881: 270:7881;
  --color-270:7882: 270:7882;
  --color-270:7883: 270:7883;
  --color-270:7884: 270:7884;
  --color-270:7885: 270:7885;
  --color-270:7886: 270:7886;
  --color-270:7887: 270:7887;
  --color-270:7888: 270:7888;
  --color-270:7889: 270:7889;
  --color-270:7890: 270:7890;
  --color-270:7891: 270:7891;
  --color-270:7892: 270:7892;
  --color-270:7893: 270:7893;
  --color-270:7894: 270:7894;
  --color-270:7895: 270:7895;
  --color-270:7896: 270:7896;
  --color-270:7897: 270:7897;
  --color-270:7898: 270:7898;
  --color-270:7899: 270:7899;
  --color-270:7900: 270:7900;
  --color-270:7901: 270:7901;
  --color-270:7902: 270:7902;
  --color-270:7903: 270:7903;
  --color-270:7904: 270:7904;
  --color-270:7905: 270:7905;
  --color-270:7906: 270:7906;
  --color-270:7907: 270:7907;
  --color-270:7908: 270:7908;
  --color-270:7909: 270:7909;
  --color-270:7910: 270:7910;
  --color-270:7911: 270:7911;
  --color-270:7912: 270:7912;
  --color-270:7913: 270:7913;
  --color-270:7914: 270:7914;
  --color-270:7915: 270:7915;
  --color-270:7916: 270:7916;
  --color-270:7917: 270:7917;
  --color-270:7918: 270:7918;
  --color-270:7919: 270:7919;
  --color-270:7920: 270:7920;
  --color-270:7921: 270:7921;
  --color-270:7922: 270:7922;
  --color-270:7923: 270:7923;
  --color-270:7924: 270:7924;
  --color-270:7925: 270:7925;
  --color-270:7926: 270:7926;
  --color-270:7927: 270:7927;
  --color-270:7928: 270:7928;
  --color-270:7929: 270:7929;
  --color-270:7930: 270:7930;
  --color-270:7931: 270:7931;
  --color-270:7932: 270:7932;
  --color-270:7933: 270:7933;
  --color-270:7934: 270:7934;
  --color-270:7935: 270:7935;
  --color-270:7936: 270:7936;
  --color-270:7937: 270:7937;
  --color-270:7938: 270:7938;
  --color-270:7939: 270:7939;
  --color-270:7940: 270:7940;
  --color-270:7941: 270:7941;
  --color-270:7942: 270:7942;
  --color-270:7943: 270:7943;
  --color-270:7944: 270:7944;
  --color-270:7945: 270:7945;
  --color-270:7946: 270:7946;
  --color-270:7947: 270:7947;
  --color-270:7948: 270:7948;
  --color-270:7949: 270:7949;
  --color-270:7950: 270:7950;
  --color-270:7951: 270:7951;
  --color-270:7952: 270:7952;
  --color-270:7953: 270:7953;
  --color-270:7954: 270:7954;
  --color-270:7955: 270:7955;
  --color-270:7956: 270:7956;
  --color-270:7957: 270:7957;
  --color-270:7958: 270:7958;
  --color-270:7959: 270:7959;
  --color-270:7960: 270:7960;
  --color-270:7961: 270:7961;
  --color-270:7962: Primary / On Primary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7963: 270:7963;
  --color-270:7964: 270:7964;
  --color-270:7965: Primary Container / On Primary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7966: 270:7966;
  --color-270:7967: Secondary / On Secondary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7968: 270:7968;
  --color-270:7969: Secondary Container / On Secondary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7970: 270:7970;
  --color-270:7971: Tertiary / On Tertiary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7972: 270:7972;
  --color-270:7973: Tertiary Container / On Tertiary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7974: 270:7974;
  --color-270:7975: Error / On Error

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7976: 270:7976;
  --color-270:7977: Error Container / On Error Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7978: 270:7978;
  --color-270:7979: Background / On Background

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7980: 270:7980;
  --color-270:7981: Surface / On Surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7982: 270:7982;
  --color-270:7983: Surface Variant / On Surface Variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:7984: 270:7984;
  --color-270:7985: 270:7985;
  --color-270:7986: 270:7986;
  --color-270:7987: 270:7987;
  --color-270:7988: 270:7988;
  --color-270:7989: 270:7989;
  --color-270:7990: 270:7990;
  --color-270:7991: 270:7991;
  --color-270:7992: 270:7992;
  --color-270:7993: 270:7993;
  --color-270:7994: 270:7994;
  --color-270:7995: 270:7995;
  --color-270:7996: 270:7996;
  --color-270:7997: 270:7997;
  --color-270:7998: 270:7998;
  --color-270:7999: 270:7999;
  --color-270:8000: 270:8000;
  --color-270:8001: 270:8001;
  --color-270:8002: 270:8002;
  --color-270:8003: 270:8003;
  --color-270:8004: 270:8004;
  --color-270:8005: 270:8005;
  --color-270:8006: 270:8006;
  --color-270:8007: 270:8007;
  --color-270:8008: 270:8008;
  --color-270:8009: 270:8009;
  --color-270:8010: 270:8010;
  --color-270:8011: 270:8011;
  --color-270:8012: 270:8012;
  --color-270:8013: 270:8013;
  --color-270:8014: 270:8014;
  --color-270:8015: 270:8015;
  --color-270:8016: 270:8016;
  --color-270:8017: 270:8017;
  --color-270:8018: 270:8018;
  --color-270:8019: 270:8019;
  --color-270:8020: 270:8020;
  --color-270:8021: 270:8021;
  --color-270:8022: 270:8022;
  --color-270:8023: 270:8023;
  --color-270:8024: 270:8024;
  --color-270:8025: 270:8025;
  --color-270:8026: 270:8026;
  --color-270:8027: 270:8027;
  --color-270:8028: 270:8028;
  --color-270:8029: 270:8029;
  --color-270:8030: 270:8030;
  --color-270:8031: 270:8031;
  --color-270:8032: 270:8032;
  --color-270:8033: 270:8033;
  --color-270:8034: 270:8034;
  --color-270:8035: 270:8035;
  --color-270:8036: 270:8036;
  --color-270:8037: 270:8037;
  --color-270:8038: 270:8038;
  --color-270:8039: 270:8039;
  --color-270:8040: 270:8040;
  --color-270:8041: 270:8041;
  --color-270:8042: 270:8042;
  --color-270:8043: 270:8043;
  --color-270:8044: 270:8044;
  --color-270:8045: 270:8045;
  --color-270:8046: 270:8046;
  --color-270:8047: 270:8047;
  --color-270:8048: 270:8048;
  --color-270:8049: 270:8049;
  --color-270:8050: 270:8050;
  --color-270:8051: 270:8051;
  --color-270:8052: 270:8052;
  --color-270:8053: 270:8053;
  --color-270:8054: 270:8054;
  --color-270:8055: 270:8055;
  --color-270:8056: 270:8056;
  --color-270:8057: 270:8057;
  --color-270:8058: 270:8058;
  --color-270:8059: 270:8059;
  --color-270:8060: 270:8060;
  --color-270:8061: 270:8061;
  --color-270:8062: 270:8062;
  --color-270:8063: 270:8063;
  --color-270:8064: 270:8064;
  --color-270:8065: 270:8065;
  --color-270:8066: 270:8066;
  --color-270:8067: 270:8067;
  --color-270:8068: 270:8068;
  --color-270:8069: 270:8069;
  --color-270:8070: 270:8070;
  --color-270:8071: 270:8071;
  --color-270:8072: 270:8072;
  --color-270:8073: 270:8073;
  --color-270:8074: 270:8074;
  --color-270:8075: 270:8075;
  --color-270:8076: 270:8076;
  --color-270:8077: 270:8077;
  --color-270:8078: 270:8078;
  --color-270:8079: 270:8079;
  --color-270:8080: 270:8080;
  --color-270:8081: 270:8081;
  --color-270:8082: 270:8082;
  --color-270:8083: 270:8083;
  --color-270:8084: 270:8084;
  --color-270:8085: 270:8085;
  --color-270:8086: 270:8086;
  --color-270:8087: 270:8087;
  --color-270:8088: 270:8088;
  --color-270:8089: 270:8089;
  --color-270:8090: 270:8090;
  --color-270:8091: 270:8091;
  --color-270:8092: 270:8092;
  --color-270:8093: 270:8093;
  --color-270:8094: 270:8094;
  --color-270:8095: 270:8095;
  --color-270:8096: 270:8096;
  --color-270:8097: 270:8097;
  --color-270:8098: 270:8098;
  --color-270:8099: 270:8099;
  --color-270:8100: 270:8100;
  --color-270:8101: 270:8101;
  --color-270:8102: 270:8102;
  --color-270:8103: 270:8103;
  --color-270:8104: 270:8104;
  --color-270:8105: 270:8105;
  --color-270:8106: 270:8106;
  --color-270:8107: 270:8107;
  --color-270:8108: 270:8108;
  --color-270:8109: 270:8109;
  --color-270:8110: 270:8110;
  --color-270:8111: 270:8111;
  --color-270:8112: 270:8112;
  --color-270:8113: 270:8113;
  --color-270:8114: 270:8114;
  --color-270:8115: 270:8115;
  --color-270:8116: 270:8116;
  --color-270:8117: 270:8117;
  --color-270:8118: 270:8118;
  --color-270:8119: 270:8119;
  --color-270:8120: 270:8120;
  --color-270:8121: 270:8121;
  --color-270:8122: 270:8122;
  --color-270:8123: 270:8123;
  --color-270:8124: 270:8124;
  --color-270:8125: 270:8125;
  --color-270:8126: 270:8126;
  --color-270:8127: 270:8127;
  --color-270:8128: 270:8128;
  --color-270:8129: 270:8129;
  --color-270:8130: 270:8130;
  --color-270:8131: 270:8131;
  --color-270:8132: 270:8132;
  --color-270:8133: 270:8133;
  --color-270:8134: 270:8134;
  --color-270:8135: 270:8135;
  --color-270:8136: 270:8136;
  --color-270:8137: 270:8137;
  --color-270:8138: 270:8138;
  --color-270:8139: 270:8139;
  --color-270:8140: 270:8140;
  --color-270:8141: 270:8141;
  --color-270:8142: 270:8142;
  --color-270:8143: 270:8143;
  --color-270:8144: 270:8144;
  --color-270:8145: 270:8145;
  --color-270:8146: 270:8146;
  --color-270:8147: 270:8147;
  --color-270:8148: 270:8148;
  --color-270:8149: 270:8149;
  --color-270:8150: 270:8150;
  --color-270:8151: 270:8151;
  --color-270:8152: 270:8152;
  --color-270:8153: 270:8153;
  --color-270:8154: 270:8154;
  --color-270:8155: 270:8155;
  --color-270:8156: 270:8156;
  --color-270:8157: 270:8157;
  --color-270:8158: Primary / On Primary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8159: 270:8159;
  --color-270:8160: 270:8160;
  --color-270:8161: Primary Container / On Primary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8162: 270:8162;
  --color-270:8163: Secondary / On Secondary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8164: 270:8164;
  --color-270:8165: Secondary Container / On Secondary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8166: 270:8166;
  --color-270:8167: Tertiary / On Tertiary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8168: 270:8168;
  --color-270:8169: Tertiary Container / On Tertiary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8170: 270:8170;
  --color-270:8171: Error / On Error

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8172: 270:8172;
  --color-270:8173: Error Container / On Error Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8174: 270:8174;
  --color-270:8175: Background / On Background

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8176: 270:8176;
  --color-270:8177: Surface / On Surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8178: 270:8178;
  --color-270:8179: Surface Variant / On Surface Variant

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8180: 270:8180;
  --color-270:8181: 270:8181;
  --color-270:8182: 270:8182;
  --color-270:8183: 270:8183;
  --color-270:8184: 270:8184;
  --color-270:8185: 270:8185;
  --color-270:8186: 270:8186;
  --color-270:8187: 270:8187;
  --color-270:8188: 270:8188;
  --color-270:8189: 270:8189;
  --color-270:8190: 270:8190;
  --color-270:8191: 270:8191;
  --color-270:8192: 270:8192;
  --color-270:8193: 270:8193;
  --color-270:8194: 270:8194;
  --color-270:8195: 270:8195;
  --color-270:8196: 270:8196;
  --color-270:8197: 270:8197;
  --color-270:8198: 270:8198;
  --color-270:8199: 270:8199;
  --color-270:8200: 270:8200;
  --color-270:8201: 270:8201;
  --color-270:8202: 270:8202;
  --color-270:8203: 270:8203;
  --color-270:8204: 270:8204;
  --color-270:8205: 270:8205;
  --color-270:8206: 270:8206;
  --color-270:8207: 270:8207;
  --color-270:8208: 270:8208;
  --color-270:8209: 270:8209;
  --color-270:8210: 270:8210;
  --color-270:8211: 270:8211;
  --color-270:8212: 270:8212;
  --color-270:8213: 270:8213;
  --color-270:8214: 270:8214;
  --color-270:8215: 270:8215;
  --color-270:8216: 270:8216;
  --color-270:8217: 270:8217;
  --color-270:8218: 270:8218;
  --color-270:8219: 270:8219;
  --color-270:8220: 270:8220;
  --color-270:8221: 270:8221;
  --color-270:8222: 270:8222;
  --color-270:8223: 270:8223;
  --color-270:8224: 270:8224;
  --color-270:8225: 270:8225;
  --color-270:8226: 270:8226;
  --color-270:8227: 270:8227;
  --color-270:8228: 270:8228;
  --color-270:8229: 270:8229;
  --color-270:8230: 270:8230;
  --color-270:8231: 270:8231;
  --color-270:8232: 270:8232;
  --color-270:8233: 270:8233;
  --color-270:8234: 270:8234;
  --color-270:8235: 270:8235;
  --color-270:8236: 270:8236;
  --color-270:8237: 270:8237;
  --color-270:8238: 270:8238;
  --color-270:8239: 270:8239;
  --color-270:8240: 270:8240;
  --color-270:8241: 270:8241;
  --color-270:8242: 270:8242;
  --color-270:8243: 270:8243;
  --color-270:8244: 270:8244;
  --color-270:8245: 270:8245;
  --color-270:8246: 270:8246;
  --color-270:8247: 270:8247;
  --color-270:8248: 270:8248;
  --color-270:8249: 270:8249;
  --color-270:8250: 270:8250;
  --color-270:8251: 270:8251;
  --color-270:8252: 270:8252;
  --color-270:8253: 270:8253;
  --color-270:8254: 270:8254;
  --color-270:8255: 270:8255;
  --color-270:8256: 270:8256;
  --color-270:8257: 270:8257;
  --color-270:8258: 270:8258;
  --color-270:8259: 270:8259;
  --color-270:8260: 270:8260;
  --color-270:8261: 270:8261;
  --color-270:8262: 270:8262;
  --color-270:8263: 270:8263;
  --color-270:8264: 270:8264;
  --color-270:8265: 270:8265;
  --color-270:8266: 270:8266;
  --color-270:8267: 270:8267;
  --color-270:8268: 270:8268;
  --color-270:8269: 270:8269;
  --color-270:8270: 270:8270;
  --color-270:8271: 270:8271;
  --color-270:8272: 270:8272;
  --color-270:8273: 270:8273;
  --color-270:8274: 270:8274;
  --color-270:8275: 270:8275;
  --color-270:8276: 270:8276;
  --color-270:8277: 270:8277;
  --color-270:8278: 270:8278;
  --color-270:8279: 270:8279;
  --color-270:8280: 270:8280;
  --color-270:8281: 270:8281;
  --color-270:8282: 270:8282;
  --color-270:8283: 270:8283;
  --color-270:8284: 270:8284;
  --color-270:8285: 270:8285;
  --color-270:8286: 270:8286;
  --color-270:8287: 270:8287;
  --color-270:8288: 270:8288;
  --color-270:8289: 270:8289;
  --color-270:8290: 270:8290;
  --color-270:8291: 270:8291;
  --color-270:8292: 270:8292;
  --color-270:8293: 270:8293;
  --color-270:8294: 270:8294;
  --color-270:8295: 270:8295;
  --color-270:8296: 270:8296;
  --color-270:8297: 270:8297;
  --color-270:8298: 270:8298;
  --color-270:8299: 270:8299;
  --color-270:8300: 270:8300;
  --color-270:8301: 270:8301;
  --color-270:8302: 270:8302;
  --color-270:8303: 270:8303;
  --color-270:8304: 270:8304;
  --color-270:8305: 270:8305;
  --color-270:8306: 270:8306;
  --color-270:8307: 270:8307;
  --color-270:8308: 270:8308;
  --color-270:8309: 270:8309;
  --color-270:8310: 270:8310;
  --color-270:8311: 270:8311;
  --color-270:8312: 270:8312;
  --color-270:8313: 270:8313;
  --color-270:8314: 270:8314;
  --color-270:8315: 270:8315;
  --color-270:8316: 270:8316;
  --color-270:8317: 270:8317;
  --color-270:8318: 270:8318;
  --color-270:8319: 270:8319;
  --color-270:8320: 270:8320;
  --color-270:8321: 270:8321;
  --color-270:8322: 270:8322;
  --color-270:8323: 270:8323;
  --color-270:8324: 270:8324;
  --color-270:8325: 270:8325;
  --color-270:8326: 270:8326;
  --color-270:8327: 270:8327;
  --color-270:8328: 270:8328;
  --color-270:8329: 270:8329;
  --color-270:8330: 270:8330;
  --color-270:8331: 270:8331;
  --color-270:8332: 270:8332;
  --color-270:8333: 270:8333;
  --color-270:8334: 270:8334;
  --color-270:8335: 270:8335;
  --color-270:8336: 270:8336;
  --color-270:8337: 270:8337;
  --color-270:8338: 270:8338;
  --color-270:8339: 270:8339;
  --color-270:8340: 270:8340;
  --color-270:8341: 270:8341;
  --color-270:8342: 270:8342;
  --color-270:8343: 270:8343;
  --color-270:8344: 270:8344;
  --color-270:8345: 270:8345;
  --color-270:8346: 270:8346;
  --color-270:8347: 270:8347;
  --color-270:8348: 270:8348;
  --color-270:8349: 270:8349;
  --color-270:8350: 270:8350;
  --color-270:8351: 270:8351;
  --color-270:8352: 270:8352;
  --color-270:8353: 270:8353;
  --color-270:8354: Primary / On Primary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8355: 270:8355;
  --color-270:8356: 270:8356;
  --color-270:8357: Primary Container / On Primary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8358: 270:8358;
  --color-270:8359: Secondary / On Secondary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8360: 270:8360;
  --color-270:8361: Secondary Container / On Secondary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8362: 270:8362;
  --color-270:8363: Tertiary / On Tertiary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8364: 270:8364;
  --color-270:8365: Tertiary Container / On Tertiary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8366: 270:8366;
  --color-270:8367: Error / On Error

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8368: 270:8368;
  --color-270:8369: Error Container / On Error Container

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8370: 270:8370;
  --color-270:8371: Background / On Background

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8372: 270:8372;
  --color-270:8373: Surface / On Surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8374: 270:8374;
  --color-270:8375: Surface Variant / On Surface Variant

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-270:8376: 270:8376;
  --color-270:8377: 270:8377;
  --color-270:8378: 270:8378;
  --color-270:8379: 270:8379;
  --color-270:8380: 270:8380;
  --color-270:8381: 270:8381;
  --color-270:8382: 270:8382;
  --color-270:8383: 270:8383;
  --color-270:8384: 270:8384;
  --color-270:8385: 270:8385;
  --color-270:8386: 270:8386;
  --color-270:8387: 270:8387;
  --color-270:8388: 270:8388;
  --color-270:8389: 270:8389;
  --color-270:8390: 270:8390;
  --color-270:8391: 270:8391;
  --color-270:8392: 270:8392;
  --color-270:8393: 270:8393;
  --color-270:8394: 270:8394;
  --color-270:8395: 270:8395;
  --color-270:8396: 270:8396;
  --color-270:8397: 270:8397;
  --color-270:8398: 270:8398;
  --color-270:8399: 270:8399;
  --color-270:8400: 270:8400;
  --color-270:8401: 270:8401;
  --color-270:8402: 270:8402;
  --color-271:8403: 271:8403;
  --color-271:8404: 271:8404;
  --color-271:8405: 271:8405;
  --color-271:8406: 271:8406;
  --color-271:8407: 271:8407;
  --color-271:8408: 271:8408;
  --color-271:8409: 271:8409;
  --color-271:8410: 271:8410;
  --color-271:8411: 271:8411;
  --color-271:8412: 271:8412;
  --color-271:8413: 271:8413;
  --color-271:8414: 271:8414;
  --color-271:8415: 271:8415;
  --color-271:8416: 271:8416;
  --color-271:8417: 271:8417;
  --color-271:8418: 271:8418;
  --color-271:8419: 271:8419;
  --color-271:8420: 271:8420;
  --color-271:8421: 271:8421;
  --color-271:8422: 271:8422;
  --color-271:8423: 271:8423;
  --color-271:8424: 271:8424;
  --color-271:8425: 271:8425;
  --color-271:8426: 271:8426;
  --color-271:8427: 271:8427;
  --color-271:8428: 271:8428;
  --color-271:8429: 271:8429;
  --color-271:8430: 271:8430;
  --color-271:8431: 271:8431;
  --color-271:8432: 271:8432;
  --color-271:8433: 271:8433;
  --color-271:8434: 271:8434;
  --color-271:8435: 271:8435;
  --color-271:8436: 271:8436;
  --color-271:8437: 271:8437;
  --color-271:8438: 271:8438;
  --color-271:8439: 271:8439;
  --color-271:8440: 271:8440;
  --color-271:8441: 271:8441;
  --color-271:8442: 271:8442;
  --color-271:8443: 271:8443;
  --color-271:8444: 271:8444;
  --color-271:8445: 271:8445;
  --color-271:8446: 271:8446;
  --color-271:8447: 271:8447;
  --color-271:8448: 271:8448;
  --color-271:8449: 271:8449;
  --color-271:8450: 271:8450;
  --color-271:8451: 271:8451;
  --color-271:8452: 271:8452;
  --color-271:8453: 271:8453;
  --color-271:8454: 271:8454;
  --color-271:8455: 271:8455;
  --color-271:8456: 271:8456;
  --color-271:8457: 271:8457;
  --color-271:8458: 271:8458;
  --color-271:8459: 271:8459;
  --color-271:8460: 271:8460;
  --color-271:8461: 271:8461;
  --color-271:8462: 271:8462;
  --color-271:8463: 271:8463;
  --color-271:8464: 271:8464;
  --color-271:8465: 271:8465;
  --color-271:8466: 271:8466;
  --color-271:8467: 271:8467;
  --color-271:8468: 271:8468;
  --color-271:8469: 271:8469;
  --color-271:8470: 271:8470;
  --color-271:8471: 271:8471;
  --color-271:8472: 271:8472;
  --color-271:8473: 271:8473;
  --color-271:8474: 271:8474;
  --color-271:8475: 271:8475;
  --color-271:8476: 271:8476;
  --color-271:8477: 271:8477;
  --color-271:8478: 271:8478;
  --color-271:8479: 271:8479;
  --color-271:8480: 271:8480;
  --color-271:8481: 271:8481;
  --color-271:8482: 271:8482;
  --color-271:8483: 271:8483;
  --color-271:8484: 271:8484;
  --color-271:8485: 271:8485;
  --color-271:8486: 271:8486;
  --color-271:8487: 271:8487;
  --color-271:8488: 271:8488;
  --color-271:8489: 271:8489;
  --color-271:8490: 271:8490;
  --color-271:8491: 271:8491;
  --color-271:8492: 271:8492;
  --color-271:8493: 271:8493;
  --color-271:8494: 271:8494;
  --color-271:8495: 271:8495;
  --color-271:8496: 271:8496;
  --color-271:8497: 271:8497;
  --color-271:8498: 271:8498;
  --color-271:8499: 271:8499;
  --color-271:8500: 271:8500;
  --color-271:8501: 271:8501;
  --color-271:8502: 271:8502;
  --color-271:8503: 271:8503;
  --color-271:8504: 271:8504;
  --color-271:8505: 271:8505;
  --color-271:8506: 271:8506;
  --color-271:8507: 271:8507;
  --color-271:8508: 271:8508;
  --color-271:8509: 271:8509;
  --color-271:8510: 271:8510;
  --color-271:8511: 271:8511;
  --color-271:8512: 271:8512;
  --color-271:8513: 271:8513;
  --color-271:8514: 271:8514;
  --color-271:8515: 271:8515;
  --color-271:8516: 271:8516;
  --color-271:8517: 271:8517;
  --color-271:8518: 271:8518;
  --color-271:8519: 271:8519;
  --color-271:8520: 271:8520;
  --color-271:8521: 271:8521;
  --color-271:8522: 271:8522;
  --color-271:8523: 271:8523;
  --color-271:8524: 271:8524;
  --color-271:8525: 271:8525;
  --color-271:8526: 271:8526;
  --color-271:8527: 271:8527;
  --color-271:8528: 271:8528;
  --color-271:8529: 271:8529;
  --color-271:8530: 271:8530;
  --color-271:8531: 271:8531;
  --color-271:8532: 271:8532;
  --color-271:8533: 271:8533;
  --color-271:8534: 271:8534;
  --color-271:8535: 271:8535;
  --color-271:8536: 271:8536;
  --color-271:8537: 271:8537;
  --color-271:8538: 271:8538;
  --color-271:8539: 271:8539;
  --color-271:8540: 271:8540;
  --color-271:8541: 271:8541;
  --color-271:8542: 271:8542;
  --color-271:8543: 271:8543;
  --color-271:8544: 271:8544;
  --color-271:8545: 271:8545;
  --color-271:8546: 271:8546;
  --color-271:8547: 271:8547;
  --color-271:8548: 271:8548;
  --color-271:8549: 271:8549;
  --color-273:9230: Primary / On Primary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9231: 273:9231;
  --color-273:9232: 273:9232;
  --color-273:9233: Primary Container / On Primary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9234: 273:9234;
  --color-273:9235: Secondary / On Secondary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9236: 273:9236;
  --color-273:9237: Secondary Container / On Secondary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9238: 273:9238;
  --color-273:9239: Tertiary / On Tertiary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9240: 273:9240;
  --color-273:9241: Tertiary Container / On Tertiary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9242: 273:9242;
  --color-273:9243: Error / On Error

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9244: 273:9244;
  --color-273:9245: Error Container / On Error Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9246: 273:9246;
  --color-273:9247: Background / On Background

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9248: 273:9248;
  --color-273:9249: Surface / On Surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9250: 273:9250;
  --color-273:9251: Surface Variant / On Surface Variant

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9252: 273:9252;
  --color-273:9253: 273:9253;
  --color-273:9254: 273:9254;
  --color-273:9255: 273:9255;
  --color-273:9256: 273:9256;
  --color-273:9257: 273:9257;
  --color-273:9258: 273:9258;
  --color-273:9259: 273:9259;
  --color-273:9260: 273:9260;
  --color-273:9261: 273:9261;
  --color-273:9262: 273:9262;
  --color-273:9263: 273:9263;
  --color-273:9264: 273:9264;
  --color-273:9265: 273:9265;
  --color-273:9266: 273:9266;
  --color-273:9267: 273:9267;
  --color-273:9268: 273:9268;
  --color-273:9269: 273:9269;
  --color-273:9270: 273:9270;
  --color-273:9271: 273:9271;
  --color-273:9272: 273:9272;
  --color-273:9273: 273:9273;
  --color-273:9274: 273:9274;
  --color-273:9275: 273:9275;
  --color-273:9276: 273:9276;
  --color-273:9277: 273:9277;
  --color-273:9278: 273:9278;
  --color-273:9279: 273:9279;
  --color-273:9280: 273:9280;
  --color-273:9281: 273:9281;
  --color-273:9282: 273:9282;
  --color-273:9283: 273:9283;
  --color-273:9284: 273:9284;
  --color-273:9285: 273:9285;
  --color-273:9286: 273:9286;
  --color-273:9287: 273:9287;
  --color-273:9288: 273:9288;
  --color-273:9289: 273:9289;
  --color-273:9290: 273:9290;
  --color-273:9291: 273:9291;
  --color-273:9292: 273:9292;
  --color-273:9293: 273:9293;
  --color-273:9294: 273:9294;
  --color-273:9295: 273:9295;
  --color-273:9296: 273:9296;
  --color-273:9297: 273:9297;
  --color-273:9298: 273:9298;
  --color-273:9299: 273:9299;
  --color-273:9300: 273:9300;
  --color-273:9301: 273:9301;
  --color-273:9302: 273:9302;
  --color-273:9303: 273:9303;
  --color-273:9304: 273:9304;
  --color-273:9305: 273:9305;
  --color-273:9306: 273:9306;
  --color-273:9307: 273:9307;
  --color-273:9308: 273:9308;
  --color-273:9309: 273:9309;
  --color-273:9310: 273:9310;
  --color-273:9311: 273:9311;
  --color-273:9312: 273:9312;
  --color-273:9313: 273:9313;
  --color-273:9314: 273:9314;
  --color-273:9315: 273:9315;
  --color-273:9316: 273:9316;
  --color-273:9317: 273:9317;
  --color-273:9318: 273:9318;
  --color-273:9319: 273:9319;
  --color-273:9320: 273:9320;
  --color-273:9321: 273:9321;
  --color-273:9322: 273:9322;
  --color-273:9323: 273:9323;
  --color-273:9324: 273:9324;
  --color-273:9325: 273:9325;
  --color-273:9326: 273:9326;
  --color-273:9327: 273:9327;
  --color-273:9328: 273:9328;
  --color-273:9329: 273:9329;
  --color-273:9330: 273:9330;
  --color-273:9331: 273:9331;
  --color-273:9332: 273:9332;
  --color-273:9333: 273:9333;
  --color-273:9334: 273:9334;
  --color-273:9335: 273:9335;
  --color-273:9336: 273:9336;
  --color-273:9337: 273:9337;
  --color-273:9338: 273:9338;
  --color-273:9339: 273:9339;
  --color-273:9340: 273:9340;
  --color-273:9341: 273:9341;
  --color-273:9342: 273:9342;
  --color-273:9343: 273:9343;
  --color-273:9344: 273:9344;
  --color-273:9345: 273:9345;
  --color-273:9346: 273:9346;
  --color-273:9347: 273:9347;
  --color-273:9348: 273:9348;
  --color-273:9349: 273:9349;
  --color-273:9350: 273:9350;
  --color-273:9351: 273:9351;
  --color-273:9352: 273:9352;
  --color-273:9353: 273:9353;
  --color-273:9354: 273:9354;
  --color-273:9355: 273:9355;
  --color-273:9356: 273:9356;
  --color-273:9357: 273:9357;
  --color-273:9358: 273:9358;
  --color-273:9359: 273:9359;
  --color-273:9360: 273:9360;
  --color-273:9361: 273:9361;
  --color-273:9362: 273:9362;
  --color-273:9363: 273:9363;
  --color-273:9364: 273:9364;
  --color-273:9365: 273:9365;
  --color-273:9366: 273:9366;
  --color-273:9367: 273:9367;
  --color-273:9368: 273:9368;
  --color-273:9369: 273:9369;
  --color-273:9370: 273:9370;
  --color-273:9371: 273:9371;
  --color-273:9372: 273:9372;
  --color-273:9373: 273:9373;
  --color-273:9374: 273:9374;
  --color-273:9375: 273:9375;
  --color-273:9376: 273:9376;
  --color-273:9377: 273:9377;
  --color-273:9378: 273:9378;
  --color-273:9379: 273:9379;
  --color-273:9380: 273:9380;
  --color-273:9381: 273:9381;
  --color-273:9382: 273:9382;
  --color-273:9383: 273:9383;
  --color-273:9384: 273:9384;
  --color-273:9385: 273:9385;
  --color-273:9386: 273:9386;
  --color-273:9387: 273:9387;
  --color-273:9388: 273:9388;
  --color-273:9389: 273:9389;
  --color-273:9390: 273:9390;
  --color-273:9391: 273:9391;
  --color-273:9392: 273:9392;
  --color-273:9393: 273:9393;
  --color-273:9394: 273:9394;
  --color-273:9395: 273:9395;
  --color-273:9396: 273:9396;
  --color-273:9397: 273:9397;
  --color-273:9398: 273:9398;
  --color-273:9399: 273:9399;
  --color-273:9400: 273:9400;
  --color-273:9401: 273:9401;
  --color-273:9402: 273:9402;
  --color-273:9403: 273:9403;
  --color-273:9404: 273:9404;
  --color-273:9405: 273:9405;
  --color-273:9406: 273:9406;
  --color-273:9407: 273:9407;
  --color-273:9408: 273:9408;
  --color-273:9409: 273:9409;
  --color-273:9410: 273:9410;
  --color-273:9411: 273:9411;
  --color-273:9412: 273:9412;
  --color-273:9413: 273:9413;
  --color-273:9414: 273:9414;
  --color-273:9415: 273:9415;
  --color-273:9416: 273:9416;
  --color-273:9417: 273:9417;
  --color-273:9418: 273:9418;
  --color-273:9419: 273:9419;
  --color-273:9420: 273:9420;
  --color-273:9421: 273:9421;
  --color-273:9422: 273:9422;
  --color-273:9423: 273:9423;
  --color-273:9424: 273:9424;
  --color-273:9425: 273:9425;
  --color-273:9426: Primary / On Primary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9427: 273:9427;
  --color-273:9428: 273:9428;
  --color-273:9429: Primary Container / On Primary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9430: 273:9430;
  --color-273:9431: Secondary / On Secondary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9432: 273:9432;
  --color-273:9433: Secondary Container / On Secondary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9434: 273:9434;
  --color-273:9435: Tertiary / On Tertiary

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9436: 273:9436;
  --color-273:9437: Tertiary Container / On Tertiary Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9438: 273:9438;
  --color-273:9439: Error / On Error

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9440: 273:9440;
  --color-273:9441: Error Container / On Error Container

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9442: 273:9442;
  --color-273:9443: Background / On Background

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9444: 273:9444;
  --color-273:9445: Surface / On Surface

Regular text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9446: 273:9446;
  --color-273:9447: Surface Variant / On Surface Variant

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
Level AAA - ✅ Pass

;
  --color-273:9448: 273:9448;
  --color-273:9449: 273:9449;
  --color-273:9450: 273:9450;
  --color-273:9451: 273:9451;
  --color-273:9452: 273:9452;
  --color-273:9453: 273:9453;
  --color-273:9454: 273:9454;
  --color-273:9455: 273:9455;
  --color-273:9456: 273:9456;
  --color-273:9457: 273:9457;
  --color-273:9458: 273:9458;
  --color-273:9459: 273:9459;
  --color-273:9460: 273:9460;
  --color-273:9461: 273:9461;
  --color-273:9462: 273:9462;
  --color-273:9463: 273:9463;
  --color-273:9464: 273:9464;
  --color-273:9465: 273:9465;
  --color-273:9466: 273:9466;
  --color-273:9467: 273:9467;
  --color-273:9468: 273:9468;
  --color-273:9469: 273:9469;
  --color-273:9470: 273:9470;
  --color-273:9471: 273:9471;
  --color-273:9472: 273:9472;
  --color-273:9473: 273:9473;
  --color-273:9474: 273:9474;
  --color-273:9475: 273:9475;
  --color-273:9476: 273:9476;
  --color-273:9477: 273:9477;
  --color-273:9478: 273:9478;
  --color-273:9479: 273:9479;
  --color-273:9480: 273:9480;
  --color-273:9481: 273:9481;
  --color-273:9482: 273:9482;
  --color-273:9483: 273:9483;
  --color-273:9484: 273:9484;
  --color-273:9485: 273:9485;
  --color-273:9486: 273:9486;
  --color-273:9487: 273:9487;
  --color-273:9488: 273:9488;
  --color-273:9489: 273:9489;
  --color-273:9490: 273:9490;
  --color-273:9491: 273:9491;
  --color-273:9492: 273:9492;
  --color-273:9493: 273:9493;
  --color-273:9494: 273:9494;
  --color-273:9495: 273:9495;
  --color-273:9496: 273:9496;
  --color-273:9497: 273:9497;
  --color-273:9498: 273:9498;
  --color-273:9499: 273:9499;
  --color-273:9500: 273:9500;
  --color-273:9501: 273:9501;
  --color-273:9502: 273:9502;
  --color-273:9503: 273:9503;
  --color-273:9504: 273:9504;
  --color-273:9505: 273:9505;
  --color-273:9506: 273:9506;
  --color-273:9507: 273:9507;
  --color-273:9508: 273:9508;
  --color-273:9509: 273:9509;
  --color-273:9510: 273:9510;
  --color-273:9511: 273:9511;
  --color-273:9512: 273:9512;
  --color-273:9513: 273:9513;
  --color-273:9514: 273:9514;
  --color-273:9515: 273:9515;
  --color-273:9516: 273:9516;
  --color-273:9517: 273:9517;
  --color-273:9518: 273:9518;
  --color-273:9519: 273:9519;
  --color-273:9520: 273:9520;
  --color-273:9521: 273:9521;
  --color-273:9522: 273:9522;
  --color-273:9523: 273:9523;
  --color-273:9524: 273:9524;
  --color-273:9525: 273:9525;
  --color-273:9526: 273:9526;
  --color-273:9527: 273:9527;
  --color-273:9528: 273:9528;
  --color-273:9529: 273:9529;
  --color-273:9530: 273:9530;
  --color-273:9531: 273:9531;
  --color-273:9532: 273:9532;
  --color-273:9533: 273:9533;
  --color-273:9534: 273:9534;
  --color-273:9535: 273:9535;
  --color-273:9536: 273:9536;
  --color-273:9537: 273:9537;
  --color-273:9538: 273:9538;
  --color-273:9539: 273:9539;
  --color-273:9540: 273:9540;
  --color-273:9541: 273:9541;
  --color-273:9542: 273:9542;
  --color-273:9543: 273:9543;
  --color-273:9544: 273:9544;
  --color-273:9545: 273:9545;
  --color-273:9546: 273:9546;
  --color-273:9547: 273:9547;
  --color-273:9548: 273:9548;
  --color-273:9549: 273:9549;
  --color-273:9550: 273:9550;
  --color-273:9551: 273:9551;
  --color-273:9552: 273:9552;
  --color-273:9553: 273:9553;
  --color-273:9554: 273:9554;
  --color-273:9555: 273:9555;
  --color-273:9556: 273:9556;
  --color-273:9557: 273:9557;
  --color-273:9558: 273:9558;
  --color-273:9559: 273:9559;
  --color-273:9560: 273:9560;
  --color-273:9561: 273:9561;
  --color-273:9562: 273:9562;
  --color-273:9563: 273:9563;
  --color-273:9564: 273:9564;
  --color-273:9565: 273:9565;
  --color-273:9566: 273:9566;
  --color-273:9567: 273:9567;
  --color-273:9568: 273:9568;
  --color-273:9569: 273:9569;
  --color-273:9570: 273:9570;
  --color-273:9571: 273:9571;
  --color-273:9572: 273:9572;
  --color-273:9573: 273:9573;
  --color-273:9574: 273:9574;
  --color-273:9575: 273:9575;
  --color-273:9576: 273:9576;
  --color-273:9577: 273:9577;
  --color-273:9578: 273:9578;
  --color-273:9579: 273:9579;
  --color-273:9580: 273:9580;
  --color-273:9581: 273:9581;
  --color-273:9582: 273:9582;
  --color-273:9583: 273:9583;
  --color-273:9584: 273:9584;
  --color-273:9585: 273:9585;
  --color-273:9586: 273:9586;
  --color-273:9587: 273:9587;
  --color-273:9588: 273:9588;
  --color-273:9589: 273:9589;
  --color-273:9590: 273:9590;
  --color-273:9591: 273:9591;
  --color-273:9592: 273:9592;
  --color-273:9593: 273:9593;
  --color-273:9594: 273:9594;
  --color-273:9595: 273:9595;
  --color-273:9596: 273:9596;
  --color-273:9597: 273:9597;
  --color-273:9598: 273:9598;
  --color-273:9599: 273:9599;
  --color-273:9600: 273:9600;
  --color-273:9601: 273:9601;
  --color-273:9602: 273:9602;
  --color-273:9603: 273:9603;
  --color-273:9604: 273:9604;
  --color-273:9605: 273:9605;
  --color-273:9606: 273:9606;
  --color-273:9607: 273:9607;
  --color-273:9608: 273:9608;
  --color-273:9609: 273:9609;
  --color-273:9610: 273:9610;
  --color-273:9611: 273:9611;
  --color-273:9612: 273:9612;
  --color-273:9613: 273:9613;
  --color-273:9614: 273:9614;
  --color-273:9615: 273:9615;
  --color-273:9616: 273:9616;
  --color-273:9617: 273:9617;
  --color-273:9618: 273:9618;
  --color-273:9619: 273:9619;
  --color-273:9620: 273:9620;
  --color-273:9621: 273:9621;
  --color-273:9622: 273:9622;
  --color-273:9623: 273:9623;
  --color-273:9624: 273:9624;
  --color-273:9625: 273:9625;
  --color-273:9626: 273:9626;
  --color-273:9627: 273:9627;
  --color-273:9628: 273:9628;
  --color-273:9629: 273:9629;
  --color-273:9630: 273:9630;
  --color-273:9631: 273:9631;
  --color-273:9632: 273:9632;
  --color-273:9633: 273:9633;
  --color-273:9634: 273:9634;
  --color-273:9635: 273:9635;
  --color-273:9636: 273:9636;
  --color-273:9637: 273:9637;
  --color-273:9638: 273:9638;
  --color-273:9639: 273:9639;
  --color-273:9640: 273:9640;
  --color-273:9641: 273:9641;
  --color-273:9642: 273:9642;
  --color-273:9643: 273:9643;
  --color-273:9644: 273:9644;
  --color-273:9645: 273:9645;
  --color-273:9646: 273:9646;
  --color-273:9647: 273:9647;
  --color-273:9648: 273:9648;
  --color-273:9649: 273:9649;
  --color-273:9650: 273:9650;
  --color-273:9651: 273:9651;
  --color-273:9652: 273:9652;
  --color-273:9653: 273:9653;
  --color-273:9654: 273:9654;
  --color-273:9655: 273:9655;
  --color-273:9656: 273:9656;
  --color-273:9657: 273:9657;
  --color-273:9658: 273:9658;
  --color-273:9659: 273:9659;
  --color-273:9660: 273:9660;
  --color-273:9661: 273:9661;
  --color-273:9662: 273:9662;
  --color-273:9663: 273:9663;
  --color-273:9664: 273:9664;
  --color-273:9665: 273:9665;
  --color-273:9666: 273:9666;
  --color-273:9667: 273:9667;
  --color-273:9668: 273:9668;
  --color-273:9669: 273:9669;
  --color-273:9670: 273:9670;
  --color-273:9671: 273:9671;
  --color-273:9672: 273:9672;
  --color-273:9673: 273:9673;
  --color-273:9674: 273:9674;
  --color-273:9675: 273:9675;
  --color-273:9676: 273:9676;
  --color-273:9677: 273:9677;
  --color-273:9678: 273:9678;
  --color-273:9679: 273:9679;
  --color-273:9680: 273:9680;
  --color-273:9681: 273:9681;
  --color-273:9682: 273:9682;
  --color-273:9683: 273:9683;
  --color-273:9684: 273:9684;
  --color-273:9685: 273:9685;
  --color-273:9686: 273:9686;
  --color-273:9687: 273:9687;
  --color-273:9688: 273:9688;
  --color-273:9689: 273:9689;
  --color-273:9690: 273:9690;
  --color-273:9691: 273:9691;
  --color-273:9692: 273:9692;
  --color-273:9693: 273:9693;
  --color-273:9694: 273:9694;
  --color-273:9695: 273:9695;
  --color-273:9696: 273:9696;
  --color-273:9697: 273:9697;
  --color-273:9698: 273:9698;
  --color-273:9699: 273:9699;
  --color-273:9700: 273:9700;
  --color-273:9701: 273:9701;
  --color-273:9702: 273:9702;
  --color-273:9703: 273:9703;
  --color-273:9704: 273:9704;
  --color-273:9705: 273:9705;
  --color-273:9706: 273:9706;
  --color-273:9707: 273:9707;
  --color-273:9708: 273:9708;
  --color-273:9709: 273:9709;
  --color-273:9710: 273:9710;
  --color-273:9711: 273:9711;
  --color-273:9712: 273:9712;
  --color-273:9713: 273:9713;
  --color-273:9714: 273:9714;
  --color-273:9715: 273:9715;
  --color-273:9716: 273:9716;
  --color-273:9717: 273:9717;
  --color-273:9718: 273:9718;
  --color-273:9719: 273:9719;
  --color-273:9720: 273:9720;
  --color-273:9721: 273:9721;
  --color-273:9722: 273:9722;
  --color-273:9723: 273:9723;
  --color-273:9724: 273:9724;
  --color-273:9725: 273:9725;
  --color-273:9726: 273:9726;
  --color-273:9727: 273:9727;
  --color-273:9728: 273:9728;
  --color-273:9729: 273:9729;
  --color-273:9730: 273:9730;
  --color-273:9731: 273:9731;
  --color-273:9732: 273:9732;
  --color-273:9735: TYPE: CUSTOM;
  --color-64:814: 64:814;
  --color-64:813: 64:813;
  --color-26:563: 26:563;
  --color-34:1995: 34:1995;
  --color-34:1993: 34:1993;
  --color-178:15463: 178:15463;
  --color-26:562: 26:562;
  --color-38:2897: 38:2897;
  --color-38:2888: 38:2888;
  --color-85:856: master menu;
  --color-38:2824: 38:2824;
  --color-85:859: 85:859;
  --color-85:860: 85:860;
  --color-85:861: 85:861;
  --color-85:862: 85:862;
  --color-38:2896: 38:2896;
  --color-38:2866: 38:2866;
  --color-85:864: 85:864;
  --color-85:850: 85:850;
  --color-38:3016: 38:3016;
  --color-26:91: 26:91;
  --color-281:5654: 000000;
  --color-56:923: 56:923;
  --color-56:921: 56:921;
  --color-283:745: 283:745;
  --color-178:13556: 178:13556;
  --color-178:13557: 178:13557;
  --color-178:13559: 178:13559;
  --color-178:16417: 178:16417;
  --color-178:16421: 178:16421;
  --color-178:16425: 178:16425;
  --color-178:16426: 178:16426;
  --color-178:15462: 178:15462;
  --color-178:18545: 178:18545;
  --color-178:18546: 178:18546;
  --color-178:18544: 178:18544;
  --color-178:18548: 178:18548;
  --color-178:18549: 178:18549;
  --color-178:18550: 178:18550;
  --color-178:18551: 178:18551;
  --color-178:18552: 178:18552;
  --color-178:18553: 178:18553;
  --color-178:18554: 178:18554;
  --color-178:18555: 178:18555;
  --color-178:18556: 178:18556;
  --color-178:18557: 178:18557;
  --color-178:18558: 178:18558;
  --color-178:18559: 178:18559;
  --color-178:18560: 178:18560;
  --color-178:18561: 178:18561;
  --color-178:18562: 178:18562;
  --color-178:18563: 178:18563;
  --color-178:18564: 178:18564;
  --font-5:2417: 5:2417;
  --font-5:2418: 5:2418;
  --font-5:2419: 5:2419;
  --font-5:2420: 5:2420;
  --font-7:58: 7:58;
  --font-24:20: 24:20;
  --font-24:36: 24:36;
  --font-24:39: 24:39;
  --font-24:40: 24:40;
  --font-24:42: 24:42;
  --font-24:44: 24:44;
  --font-24:46: 24:46;
  --font-24:48: 24:48;
  --font-24:49: 24:49;
  --font-24:51: 24:51;
  --font-25:3: 25:3;
  --font-25:4: 25:4;
  --font-25:6: 25:6;
  --font-25:7: 25:7;
  --font-25:10: 25:10;
  --font-25:11: 25:11;
  --font-25:13: 25:13;
  --font-25:14: 25:14;
  --font-25:16: 25:16;
  --font-25:17: 25:17;
  --font-25:19: 25:19;
  --font-25:20: 25:20;
  --font-25:22: 25:22;
  --font-25:23: 25:23;
  --font-26:2623: 26:2623;
  --font-41:299: 41:299;
  --font-2325:758: 2325:758;
  --font-2325:759: 2325:759;
  --font-2325:760: 2325:760;
  --font-34:845: 34:845;
  --font-34:846: 34:846;
  --font-34:1996: 34:1996;
  --font-34:1997: 34:1997;
  --font-26:1031: 26:1031;
  --font-178:16423: 178:16423;
  --font-53:1550: 53:1550;
  --font-85:857: 85:857;
  --font-5:62: 5:62;
  --font-178:13558: 178:13558;
  --font-178:16418: 178:16418;
  --font-178:16419: 178:16419;
  --font-178:16420: 178:16420;
  --font-178:16422: 178:16422;
  --font-178:16424: 178:16424;
}
